@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
  }

  main {
    background: url("../images/bg-hero-desktop.svg") no-repeat center;
    background-size: cover;
    background-color: hsl(193, 100%, 96%);
  }

  h1,
  h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    padding: 50px 20px;
  }

  .btn {
    display: block;
    /* margin: 0 auto; */
    padding: 12px 86px;
    color: #fff;
    background-color: hsl(322, 100%, 66%);
    border-radius: 25px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  }

  .btn:hover {
    opacity: 0.6;
    font-weight: 600;
  }

  @media (max-width: 768px) {
    main {
      background: url("../images/bg-hero-mobile.svg") no-repeat center;
      background-size: cover;
      background-color: hsl(193, 100%, 96%);
    }
  }
}
